/*
Colors used:
Primary Color: lightseagreen;
Secondary Color: lighslategray;
*/
img {
    width: 100%;
  }
  a {
    color: lightseagreen;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: lightseagreen;
  }
  a:hover,
    a:focus {
    color: lightseagreen;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #50afccaa;
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: lightslategray;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid black; /* width of the border, type, color */
    transition: 0.2s 
  }
  .button:hover {
    opacity: 0.5; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: lightslategray;
    text-transform: uppercase;
    border: 2px solid lightslategray;
  }
  .button.contact:hover {
    background-color: lightslategray;
    color: #ffffff;
  }
  
 